.wrapper {
  display: flex;
  justify-content: space-around;
}

.city {
  display: flex;
  border: solid black;
  border-radius: 10px;
  width: 30vw;
  height: 20vh;
}

.hometown {
  display: flex;
  border: solid black;
  border-radius: 10px;
  width: 30vw;
  height: 20vh;
}

/**
the button area
**/
.buttonArea {
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 8px;
}

/**
the textarea
**/
.writeText {
  display: none;
}
