.wrapper {
  display: flex;
  justify-content: space-around;
}
/**
styles for the two div classes
**/
.city {
  display: flex;
  border: solid black;
  background-color: grey;
  border-radius: 10px;
  width: 30vw;
  height: 20vh;
}

.hometown {
  display: flex;
  border: solid black;
  background-color: grey;
  border-radius: 10px;
  width: 30vw;
  height: 20vh;
}
/**
the button area
**/
.buttonArea {
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 8px;
}
/**
the textarea
**/
textarea {
  margin-top: 8px;
}
.writeText {
  display: none;
}
