.wrapper {
  display: flex;
  justify-content: space-around;
}

.city {
  display: flex;
  border: solid black;
  border-radius: 10px;
  width: 30vw;
  height: 20vh;
}

.hometown {
  display: flex;
  border: solid black;
  border-radius: 10px;
  width: 30vw;
  height: 20vh;
}

/**
the textarea
**/
.hidden {
  display: none;
}
